<!-- JavaScript -->
<script defer type="text/javascript" src="/assets/js/i18n.js" onload="loadComplete('i18n.js')"></script>
<script defer type="text/javascript" src="/assets/js/moudle.js" onload="loadComplete('moudle.js')"></script>
<script defer type="text/javascript" src="/assets/js/script.js" onload="loadComplete('script.js')"></script>
<script defer type="text/javascript" src="/assets/js/display.js" onload="loadComplete('display.js')"></script>
<script defer type="text/javascript" src="/assets/js/pjax.js" onload="enablePjax();loadComplete('pjax.js')"></script>
<script defer type="text/javascript" src="/assets/js/analysis.js" onload="baiduAnalysis();umamiAnalytics()"></script>
<script src="https://tam.cdn-go.cn/aegis-sdk/latest/aegis.min.js"></script>
<script>
    if (typeof Aegis === 'function') {
        var aegis = new Aegis({
            id: 'mZdy0ULYRPKrYkY68R',
            reportApiSpeed: true,
            reportAssetSpeed: true,
            spa: true,
            hostUrl: 'https://rumt-zh.com'
        });
    }
</script>
<div id="page-js">
    {{{pageJs}}}
</div>