<meta name="keywords" content="{{{keywords}}}" />
<meta name="description" content="{{{description}}}" />
<meta name="author" content="{{{author}}}" />
<meta name="pagetype" content="{{{pagetype}}}" />
<meta name="theme-color" content="#111111" />
<meta property="og:title" content="{{{title}}} | {{{siteName}}}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{{url}}}" />
<meta property="og:image" content="{{{shareImage}}}" />
<link rel="canonical" href="{{{url}}}" />