<!-- Preload -->
<link rel="preload" href="{{{remotePath}}}/assets/fonts/ri.woff2" as="font" crossorigin>
<link rel="preload" href="{{{remotePath}}}/assets/fonts/Furore.ttf" as="font" crossorigin>
<link rel="preload" href="{{{remotePath}}}/assets/js/script.js" as="script">
<link rel="preload" href="{{{remotePath}}}/assets/js/i18n.js" as="script">
<link rel="preload" href="{{{remotePath}}}/assets/js/moudle.js" as="script">
<link rel="preload" href="{{{remotePath}}}/assets/js/display.js" as="script">
<link rel="preload" href="{{{remotePath}}}/assets/css/style.css" as="style">
<link rel="preload" href="{{{remotePath}}}/assets/css/iconfont.css" as="style">
<link rel="preload" href="{{{remotePath}}}/assets/images/avatar.jpg" as="image">

<!-- Loading Starter -->
<script defer type="text/javascript" src="/assets/js/loading.js"></script>