<footer>
    <div id="icons-left">
        <nav>
            <a class="loading loaded" style="--i: 1" id="icon-about" href="#about" onclick="openInfoBar('info');return false;" aria-label="about this page" data-pjax-state="" data-umami-event="footer-关于"><span class="i ri:arrow-up-double-line"></span></a>
            <a class="loading loaded" style="--i: 2" id="icon-github" href="http://github.com/ravelloh" target="_blank" rel="noreferrer" aria-label="my github" data-pjax-state="" data-umami-event="footer-Github"><span class="i ri:github-fill"></span></a>
            <a class="loading loaded" style="--i: 3" id="icon-studio" href="http://xeocnet-studio.github.io" target="_blank" rel="noreferrer" aria-label="my studio" data-pjax-state="" data-umami-event="footer-工作室"><span class="i ri:building-2-line"></span></a>
            <a class="loading loaded" style="--i: 4" id="icon-rss" onclick="openInfoBar('feed')" data-umami-event="footer-RSS"><span class="i ri:rss-fill"></span></a>
        </nav>
    </div>
    <div id="icons-right" class="loading loaded" style="--i: 1" data-umami-event="footer-消息栏">
        <div id="message-bar">
            <noscript>
                <a class="red" href="{{{remotePath}}}/about/help#javascript"><strong>错误:无法使用JAVASCRIPT</strong>&nbsp;<span class="i ri:alert-line"></span></a>
            </noscript>
        </div>
    </div>
</footer>