<!-- menu start -->
<li style="--i: 1"><a href="/" ><span class="i_small ri:home-3-fill"></span> HOME</a></li>
<li style="--i: 2"><a href="/works/" ><span class="i_small ri:dashboard-fill"></span> WORKS</a></li>
<li style="--i: 3"><a href="/articles/" ><span class="i_small ri:article-fill"></span> ARTICLES</a></li>
<li style="--i: 4"><a href="/images/" ><span class="i_small ri:image-fill"></span> IMAGES</a></li>
<li style="--i: 4"><a href="/games/" ><span class="i_small ri:gamepad-fill"></span> GAMES</a></li>
<li style="--i: 5"><a href="/friends/" ><span class="i_small ri:team-fill"></span> FRIENDS</a></li>
<li style="--i: 6"><a href="/about/" ><span class="i_small ri:information-fill"></span> ABOUT</a></li>
<li>&nbsp;</li>
<li><a href="/platform/signin/" ><span class="i_small ri:login-box-fill"></span> LOG IN</a></li>
<li><a href="https://analytics.ravelloh.top/share/4kyzPMCCpfG9Vd1k/blog" ><span class="i_small ri:bar-chart-box-fill"></span> ANALYTICS</a></li>
<li><a href="https://drive.ravelloh.top/" ><span class="i_small ri:hard-drive-3-fill"></span> DRIVE</a></li>
<li><a href="https://monitor.ravelloh.top/" ><span class="i_small ri:timer-flash-fill"></span> UPTIME</a></li>
<li><a href="/about/help/" ><span class="i_small ri:questionnaire-fill"></span> HELP</a></li>
<!-- menu end -->