<ul>
    <li><a href="#swap" id="icon-swap" onclick="openInfoBar('swap');return false;" aria-label="swap"> <span class="i ri:swap-box-line"></span> </a></li>
    <li><a href="#" id="icon-color" onclick="toggleThemeMode();return false;" aria-label="color"> <span class="i ri:sun-line"></span> </a></li>
    <li><a href="#music" id="icon-music" onclick="openInfoBar('music');return false;" aria-label="music"> <span class="i ri:file-music-line"></span> </a></li>
    <li><a href="#" id="icon-fullscreen" onclick="toggleFullScreen();return false;" aria-label="fullscreen"> <span class="i ri:aspect-ratio-line"></span> </a></li>
    <li><a href="#share" id="icon-share" onclick="openInfoBar('share');return false;" aria-label="share"> <span class="i ri:share-box-line"></span> </a></li>
    <li><a href="#setting" id="icon-setting" onclick="openInfoBar('setting');return false;" aria-label="setting"> <span class="i ri:settings-4-line"></span> </a></li>
</ul>