<div id="sidebar-top">
    <div id="sideinfo">
        <h3>{{{author}}}'s</h3>
        <h2>BLOG</h2>
        <a class="icons" href="mailto:{{{mail}}}" id="email"> <span class="i ri:mail-add-fill"></span> &nbsp; <span>{{{mail}}}</span> </a>
        <hr>
    </div>
</div>
<div id="sidebar-mid">
    <menu id="sidebar-menu">
    <ul>
        {{menu.html}}
    </ul>
</menu>
</div>
<div id="sidebar-bottom">
    <hr>
    <div id="side-info">
        {{copyright.html}}
    </div>
    <div class="flex-iconset">
        {{sideicon.html}}
    </div>
</div>